html,
body {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url(https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blta994c96cd213519b/61e9b3c2c6172549a9716676/Zeri_Theme_Banner.jpg);
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
